POSTGRES_PASSWORD=change-me-local-only
PG_MAJOR=17
PG_REPO_DIST=bullseye
PLATFORM_VERSION=8.3.22.1851
PLATFORM_ARCH=amd64
ENABLE_USBIP_TOOLS=auto
# DOCKER_DEFAULT_PLATFORM=linux/amd64
DESKTOP_BASE_IMAGE=mussolene/linux-desktop-base
DESKTOP_BASE_TAG=bullseye
BASE_DEBIAN_DIST=bullseye
ONESCRIPT_VERSION=2.0.0
VANESSA_ADD_VERSION=6.9.5
VANESSA_RUNNER_VERSION=2.6.0
ITS_LOGIN=
ITS_PASSWORD=
