version: "3.7"
services:
  1c-server:
    build: ./server
    image: mussolene/1c-server:8.3.23.1437
    hostname: srv1c
    links:
      - 1c-pg
    environment:
      - SRV1CV8_DEBUG=1
      - SRV1CV8_PORT=1540
      - SRV1CV8_REGPORT=1541
      - SRV1CV8_RANGE=1560:1691
    ports:
      - "1540-1541:1540-1541"
      - "1560-1691:1560-1691"
      - 67:67/udp
      - 475:475/udp
      - 5901:5900
    networks:
      debug_def:
        ipv4_address: 172.16.1.3

  1c-client:
    build: ./client
    image: mussolene/1c-client:8.3.23.1437
    hostname: client1c
    links:
      - 1c-pg
      - 1c-server
    ports:
      - 5900:5900
    networks:
      debug_def:
        ipv4_address: 172.16.1.2

  # 1c-mssql:
  #   user: root
  #   image: mcr.microsoft.com/mssql/server:2019-latest
  #   hostname: MSSQL19
  #   restart: always
  #   environment:
  #     - ACCEPT_EULA=Y
  #     - MSSQL_SA_PASSWORD=nebula123
  #     - MSSQL_PID=HMWJ3-KY3J2-NMVD7-KG4JR-X2G8G
  #     - MSSQL_MEMORY_LIMIT_MB=4096
  #     - MSSQL_DATA_DIR=/var/opt/mssql
  #     - MSSQL_AGENT_ENABLED=true
  #     - MSSQL_COLLATION=CYRILLIC_GENERAL_CI_AS
  #     - MSSQL_LCID=1033
  #     - MSSQL_LOG_DIR=/var/log/mssql
  #     - TZ=Asia/Yekaterinburg
  #   ports:
  #     - 1433:1433
  #   volumes:
  #     - ./volumes/1c-ms/data:/var/opt/mssql
  #     - ./volumes/1c-ms/logs:/var/logs/mssql
  #   networks:
  #     debug_def:
  #       ipv4_address: 172.16.1.4

  1c-pg:
    build: ./pg
    image: mussolene/postgresql:14.7.1
    restart: always
    environment:
      - POSTGRES_PASSWORD=nebula123
      - LANG=ru_RU.UTF-8
      - LANGUAGE=ru_RU.UTF-8
      - LC_ALL=ru_RU.UTF-8
      - POSTGRES_INITDB_ARGS='-EUTF-8'
    ports:
      - 5432:5432
    networks:
      debug_def:
        ipv4_address: 172.16.1.4

networks:
  debug_def:
    driver: bridge
    ipam:
      config:
        - subnet: 172.16.1.0/24
