{
  "$schema": "https://raw.githubusercontent.com/vanessa-opensource/vanessa-runner/develop/vanessa-runner-schema.json",
  "default": {
    "--ras": "srv1c:1545",
    "--dbms-type": "PostgreSQL",
    "--dbms-server": "1c-pg",
    "--dbms-base": "devib",
    "--dbms-user": "postgres",
    "--dbms-pwd": "CHANGE_ME",
    "--ibconnection": "/Ssrv1c\\devib",
    "--db-user": "",
    "--db-pwd": "",
    "--v8version": "8.5.1.1302",
    "--workspace": "/mnt/data/workspace",
    "--root": "/mnt/data/workspace"
  },
  "create": {
    "--name": "devib",
    "--dbms": "PostgreSQL",
    "--db-server": "1c-pg",
    "--db-name": "devib",
    "--db-admin": "postgres",
    "--db-admin-pwd": "CHANGE_ME",
    "--cluster-name": "srv1c"
  },
  "dbinfo": {
    "--db": "devib",
    "--cluster-name": "srv1c",
    "--try": 5
  },
  "init-dev": {
    "--cf": "/mnt/data/workspace/build/dev.cf",
    "--dbms-type": "PostgreSQL",
    "--dbms-server": "1c-pg",
    "--dbms-base": "devib",
    "--dbms-user": "postgres",
    "--dbms-pwd": "CHANGE_ME",
    "--ibconnection": "/Ssrv1c\\devib",
    "--cluster-name": "srv1c",
    "--src": "/mnt/data/workspace/src"
  }
}
